<div class="advantages-container">
	<div class="advantages-heading">
        <p>Rupeek Advantages</p>
    </div>
    <div class="advantagesInner-wrapper">
        <div class="advantages-left"><p>LEFT_FIRST</p></div>
        <div class="advantages-rgt"><p>RIGHT_FIRST</p></div>
    </div>
    <div class="advantagesInner-wrapper">
        <div class="advantages-left"><p>LEFT_SECOND</p></div>
        <div class="advantages-rgt"><p>RIGHT_SECOND</p></div>
    </div>
    <div class="advantagesInner-wrapper">
        <div class="advantages-left"><p>LEFT_THIRD</p></div>
        <div class="advantages-rgt"><p>RIGHT_THIRD</p></div>
    </div>
</div>