<div style="overflow-x:auto;">
<table>
    <caption><b>Types and specifications of loans available from Lending kart (All values in INR)</b></caption>
  <tr>
    <th></th>
      <th><b>WORKING CAPITAL LOAN</b></th>
    <th>BUSINESS LOAN</th>
    <th>MSME LOAN</th>
    <th>BUSINESS LOAN FOR WOMEN</th>
  </tr>
  <tr>
      <td><b>LOAN LIMIT</b></td>
    <td>50000 – 2 Crores</td>
    <td>50000 – 2 Crores</td>
    <td>50000 – 1 Crore</td>
    <td>50000 – 2 Crores</td>
  </tr>
  <tr>
      <td><b>INTEREST RATE</b></td>
    <td>15-27% *</td>
    <td>15-27% *</td>
    <td>15-27% *</td>
    <td>15-27% *</td>  
  </tr>
  <tr>
      <td><b>ONE TIME PROCESSING FEE</b></td>
    <td>1-2%</td>
    <td>1-2%</td>
    <td>1-2%</td>
    <td>1-2%</td>  
  </tr>
  <tr>
      <td><b>LOAN TENURE</b></td>
    <td>1-24 months</td>
    <td>1-36 months</td>
    <td>1-12 months</td>
    <td>1-12 months</td>  
  </tr>
  <tr>
      <td><b>REPAYMENT SCHEDULE</b></td>
    <td>Bi-weekly/ Monthly</td>
    <td>Bi-weekly/ Monthly</td>
    <td>Bi-weekly/ Monthly</td>
    <td>Bi-weekly/ Monthly</td>  
  </tr>
  <tr>
      <td><b>REPAYMENT SCHEDULE</b></td>
    <td colspan="4">>90,000 INR turn over in 3 months</td> 
  </tr>
  <tr>
      <td><b>TURN AROUND TIME (average)</b></td>
    <td>72 hours</td>
    <td>72 hours</td>
    <td>72 hours</td>
    <td>72 hours</td>  
  </tr>
    
</table>
</div>