<div style="overflow-x:auto;">
<table>
    <tr>
      <th></th>
      <th>MAXIMUM LIMIT</th>
      <th>INTEREST RATES</th>
      <th>REPAYMENT SCHEDULE</th>
    </tr>
    <tr>
      <td><b>SHISHU</b></td>
      <td>Up to 50,000 INR</td>
      <td>12% p.a</td>
      <td>5 years</td>
    </tr>
    <tr>
      <td><b>KISHORE</b></td>
      <td>50,000 – 5 lakhs</td>
      <td>Discretion of the MLI</td>
      <td>Discretion of the MLI</td>
    </tr>
     <tr>
      <td><b>TARUN</b></td>
      <td>5 lakhs – 10 lakhs</td>
      <td>Discretion of the MLI</td>
      <td>Discretion of the MLI</td>
    </tr>
  </table>
</div>