<div class="testimonial-mail-wrap">
    <div class="testimonial-inner-wrap">
        <div class="testimonial-icon">
        	<img src="https://wallpapercave.com/wp/BfAEeBY.jpg"/>
        </div>
        <div class="testimonial-content-wrapper">
            <p class="testimonial-head">Apply for a loan</p>
            <p class="testimonial-content">Yes, your loan can be renewed for the same sanctioned amount after you have paid the one-time processing fee of 2% (on the principal amount).</p>
        </div>
    </div>
    <div class="testimonial-inner-wrap">
        <div class="testimonial-icon">
        	<img src="https://wallpapercave.com/wp/BfAEeBY.jpg"/>
        </div>
        <div class="testimonial-content-wrapper">
            <p class="testimonial-head">Apply for a loan</p>
            <p class="testimonial-content">Yes, your loan can be renewed for the same sanctioned amount after you have paid the one-time processing fee of 2% (on the principal amount).</p>
        </div>
    </div>
    <div class="testimonial-inner-wrap">
        <div class="testimonial-icon">
        	<img src="https://wallpapercave.com/wp/BfAEeBY.jpg"/>
        </div>
        <div class="testimonial-content-wrapper">
            <p class="testimonial-head">Apply for a loan</p>
            <p class="testimonial-content">Yes, your loan can be renewed for the same sanctioned amount after you have paid the one-time processing fee of 2% (on the principal amount).</p>
        </div>
    </div>
    <div class="testimonial-inner-wrap">
        <div class="testimonial-icon">
        	<img src="https://wallpapercave.com/wp/BfAEeBY.jpg"/>
        </div>
        <div class="testimonial-content-wrapper">
            <p class="testimonial-head">Apply for a loan</p>
            <p class="testimonial-content">Yes, your loan can be renewed for the same sanctioned amount after you have paid the one-time processing fee of 2% (on the principal amount).</p>
        </div>
    </div>
    <div class="testimonial-inner-wrap">
        <div class="testimonial-icon">
        	<img src="https://wallpapercave.com/wp/BfAEeBY.jpg"/>
        </div>
        <div class="testimonial-content-wrapper">
            <p class="testimonial-head">Apply for a loan</p>
            <p class="testimonial-content">Yes, your loan can be renewed for the same sanctioned amount after you have paid the one-time processing fee of 2% (on the principal amount).</p>
        </div>
    </div>
</div>