---
layout: "wrapper"
author: "abhay kumar"
---

<div class="postContainer">
    <div>
        <div class="cityhead">
            <p class="headpara">
                <span>{{ page.heading_one }}</span>
            </p>
            <p class="headpara">
                <span>{{page.heading_two}}</span>
                <span class="cityName">{{page.heading_three}}</span>
            </p>
        </div>
    </div>
    <div class="descriptionWrapper">
        <p class="description">{{ page.content }}</p>
    </div>
</div>
